let mapleader=' '

set clipboard+=unnamed
set number
set relativenumber
set incsearch
set hlsearch


" https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins
set NERDTree
set highlightedyank
set commentary
set argtextobj
set textobj-entire
set ReplaceWithRegister
set exchange
set textobj-indent
set surround

nnoremap H ^
nnoremap L g_
nnoremap J 5j
nnoremap K 5k

vnoremap H ^
vnoremap L g_
vnoremap J 5j
vnoremap K 5k

nnoremap sl :action SplitVertically<CR>
nnoremap sj :action SplitHorizontally<CR>


nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

set idearefactormode=keep

map <leader>d <Action>(Debug)
map <leader>r <Action>(Run)
map <leader>w <Action>(SaveAll)
map [m <Action>(MethodUp)
map ]m <Action>(MethodDown)
map zc <Action>(CollapseRegion)
map zo <Action>(ExpandRegion)
map <leader>zc <Action>(CollapseAllRegions)
map <leader>zo <Action>(ExpandAllRegions)
map <leader>ca <Action>(Refactorings.QuickListPopupAction)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)
map <leader>sf <Action>(GotoFile)
map <leader>sg <Action>(SearchEverywhere)
map gr <Action>(FindUsages)
map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map <leader>q <Action>(ShowErrorDescription)

map <leader>t :NERDTreeToggle<CR>
map <leader>f :NERDTreeFind<CR>
map <Leader> <Plug>(easymotion-prefix)
map ss <Plug>(easymotion-s2)
