" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
set clipboard+=unnamed

set number relativenumber


let mapleader=" "

" Do incremental searching.
set incsearch

set highlightedyank
if !exists('##TextYankPost')
  nmap y <Plug>(highlightedyank)
  xmap y <Plug>(highlightedyank)
  omap y <Plug>(highlightedyank)
endif

set commentary
set easymotion
set NERDTree
set ideajoin
set idearefactormode=keep

map <leader>d <Action>(Debug)
map <leader>r <Action>(Run)
map <leader>w <Action>(SaveAll)

nnoremap <Leader>h <c-w>h
nnoremap <Leader>l <c-w>l
nnoremap <Leader>j <c-w>j
nnoremap <Leader>k <c-w>k

map sj <Action>(SplitHorizontally)
map sl <Action>(SplitVertically)
map <s-TAB>  <Action>(PreviousTab)
map <TAB> <Action>(NextTab)
map <Leader>en <Action>(EditSourceInNewWindow)
map <Leader>n <Action>(NextWindow)

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
map zc <Action>(CollapseRegion)
map zo <Action>(ExpandRegion)
map <leader>zc <Action>(CollapseAllRegions)
map <leader>zo <Action>(ExpandAllRegions)
map <leader>g <Action>(Refactorings.QuickListPopupAction)
map <c-q> <Action>(RecentFiles)
map <leader>l <Action>(RecentLocations)
map <leader>hs  <Action>(LocalHistory.ShowHistory)
map ge <Action>(GotoNextError)
map gE <Action>(GotoPreviousError)


map <leader>p <Action>(GotoFile)
map <leader>h <Action>(CallHierarchy)
map <leader>b <Action>(ShowNavBar)
map gu <Action>(FindUsages)
map gi <Action>(GotoImplementation)
map gd <Action>(GotToDeclaration)
map gt <Action>(GotoTest)

map <leader>t :NERDTreeToggle<CR>
map <leader>f :NERDTreeFind<CR>
